table {
  border: 1px solid #3F3F3F;
}

th {
  font-weight: 500;
  background-color: #353535;
}

th, td {
  border: 1px solid #3F3F3F;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  text-align: center;
}
